{% extends "base.html" %}
{% load tv_filters %}
{% block page_content %}
<title>{{ imdb.name }}</title>
<div class="container">
    <h1>{{ imdb.name }} ({{ imdb.start_year }} -
        {% if imdb.end_year %}{{  imdb.end_year|floatformat:0 }}{% endif %})</h1>
    <div class="row">
        <div class="col-4">
            <img src="{{ imdb.poster }}" alt="" class="border border-dark rounded img-fluid"/>
        </div>
        <div class="col-8">
            <h5>Genres:</h5>
            <p>
            {% for name in imdb|get_genres %}
            <button type="button" class="btn btn-primary">{{ name }}</button>
            {% endfor %}
            </p>
            <h5>Seasons:</h5> <p>{{ imdb.n_seasons }}</p>
            <h5>Episodes:</h5> <p>{{ imdb.n_episodes }}</p>
            <h5>Episode length:</h5> <p>{{ imdb.ep_length|floatformat:0 }}</p>
            <p>
                <span class="imdbRatingPlugin" data-user="ur100608591" data-title="{{ imdb.id }}" data-style="t1">
                <a href="https://www.imdb.com/title/{{ imdb.id }}/?ref_=tt_plg_rt" target="_blank">
                    <img alt="Cobra Kai (2018– ) on IMDb" src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_46x22.png">
                </a>
                </span>
                <script>
                (function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];
                if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;
                js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";
                stags.parentNode.insertBefore(js,stags);})(document,'script','imdb-rating-api');
                </script>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-danger" onClick="history.go(-1);">Back</button>
    </div>
</div>

{% endblock %}