{% extends "base.html" %}
{% load custom_filters %}
{% block page_content %}


<div class="container">
    <h1>TV Series</h1>
    <form>
        <div class="form-group">
            <input class="form-control" type="search" name="title" placeholder="Search..." />
        </div>
    </form>
    <div class="row">
        <div class="col-3">
            <h5>Title</h5>
        </div>
        <div class="col">
            <h5>Prediction</h5>
        </div>
        <div class="col-7">
            <h5>Overview</h5>
        </div>
    </div>


    {% for tv in tvdb %}
    <div class="row">
        <div class="col-3">
            <p>
                <a href="{% url 'imdb_detail' tv.imdb_id %}">
                    {{ tv.series_name }}
                </a>
            </p>
        </div>
        <div class="col">
            <p>{{ tv.prediction }}</p>
        </div>
        <div class="col-7">
            <p>{{ tv.overview }}</p>
        </div>
    </div>
    {% endfor %}

<!-- PAGINATION -->
    {% if tvdb.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
            {% if tvdb.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace request 'page' tvdb.previous_page_number %}">Previous</a>
                </li>
            {% endif %}

            {% if tvdb.number|add:'-4' > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace request 'page' tvdb.number|add:'-5' %}">&hellip;</a>
                </li>
            {% endif %}

            {% for i in tvdb.paginator.page_range %}
                {% if tvdb.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a>
                    </li>
                {% elif i > tvdb.number|add:'-5' and i < tvdb.number|add:'5' %}
                    <li class="page-item">
                        <a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if tvdb.paginator.num_pages > tvdb.number|add:'4' %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace request 'page' tvdb.number|add:'5' %}">&hellip;</a>
                </li>
            {% endif %}

            {% if tvdb.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace request 'page' tvdb.next_page_number %}">Next</a>
                </li>
            {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}